{% extends "layout2.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
<body>
  
  <form class="form-signin" action="/login" method="POST">
    <h1 class="h1 mb-10 font-weight-normal">FKE</h1>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    
    <div class="form-label-group">
        <input type="text" id="inputStudentID" class="form-control" placeholder="Student ID" required name="inputStudentID">
        <label for="inputEmail">Student ID</label>
    </div>

    <div class="form-label-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="inputPassword">
      <label for="inputPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div  class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <br/>
    <p>No Account?<a class="mt-2 mb-3 p-2 text-blue" href="/register">Create one.</a></p>
    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
  </form>
</body>
{% endblock %}
